* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #212529;
  background: linear-gradient(
      rgba(255, 255, 255, 0.171),
      rgba(255, 255, 255, 0)
    ),
    url("./img/bg.png") fixed center center;
  background-size: cover;
  object-fit: cover;
  background-color: white;
}

.container1 {
  width: 320px;
  min-height: 320px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 40px 30px;
  margin-left: auto;
  margin-right: auto;
}

.container1 .login-text {
  color: #111;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.container1 .login-email .input-group {
  width: 100%;
  height: 35px;
  margin-bottom: 25px;
}

.container1 .login-email .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 13px;
  border-radius: 10px;
  background: transparent;
  outline: none;
  transition: 0.3s;
}

.container1 .login-email .input-group input:focus,
.container1 .login-email .input-group input:valid {
  border-color: #33bf6b;
}

.container1 .login-email .input-group .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 35px;
  padding: 5px 20px;
  text-align: center;
  border: none;
  background: #33bf6b;
  outline: none;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.container1 .login-email .input-group .btn:hover {
  transform: translateY(-0.5px);
  background: #1d8647;
}

.login-register-text {
  color: #111;
  font-weight: 600;
  font-size: 13px;
}

.login-register-text a {
  text-decoration: none;
  color: #33bf6b;
}

@media (max-width: 430px) {
  .container1 {
    width: 300px;
  }
  .container1 .login-social {
    display: block;
  }
  .container1 .login-social a {
    display: block;
  }
}

.check {
  display: inline-block;
  margin: 0% 6% 10% 0%;
}

input[type="radio"]:checked ~ .check {
  border: 5px solid #33bf6b;
}

input[type="radio"]:checked ~ .check::before {
  background: #33bf6b;
}

input[type="radio"]:checked ~ label {
  color: #000;
}

.check label {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.76);
}

.logo img {
  margin-top: 3%;
  width: 420px;
  height: 100px;
}

@media (max-width: 600px) {
  .logo img {
    width: 250px;
    height: 70px;
  }
}

#company label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#company .container {
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}
#company .heading {
  color: #198754;
  font-size: 2rem;
  font-weight: 700;
  margin: auto;
  text-align: center;
  padding-bottom: 1.5rem;
}
.company-create {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 4%;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#company .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  padding: 8px 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #198754;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 200px) {
  .company-create {
    padding: 50px 20px;
  }
}
@media (max-width: 576px) {
  .company-create {
    padding: 50px 20px;
  }
}
